.hero-image {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
    max-height: 500px; /* Adjust this value as needed */
    object-fit: cover;
  }
  
  .hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero-text p {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .hero-text .btn {
    font-size: 1.2rem;
    padding: 0.75rem 1.5rem;
  }
  
  .large-image {
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 2rem;
  }
  
  .large-image img {
    width: 100%;
    height: auto;
    max-height: 400px; /* Adjust this value to make the image shorter */
    object-fit: cover;
  }
  
  .large-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .large-image-text h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .large-image-text p {
    font-size: 1.2rem;
  }
  
  .my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  
  .text-center .fa-icon {
    color: #007bff;
  }
  
  .text-center img {
    width: 50px;
    height: auto;
  }
  
  .product-item img.product-image {
    width: 100%;
    height: auto;
    max-width: 250px; /* Tăng kích thước ảnh */
  }
  
  .newsletter {
    background-color: #90bc79;
    color: #ffffff;
  }
  
  .newsletter input.form-control {
    border: none;
  }
  
  .newsletter button.btn {
    background-color: #333333;
    color: #ffffff;
    border: none;
  }
  
  .newsletter button.btn:hover {
    background-color: #555555;
    color: #ffffff;
  }
  
  .newsletter h1, .newsletter p {
    color: #ffffff;
  }